
.text {
    -fx-fill: #ffffff;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.vBox {
    -fx-background-radius: 8;
    -fx-background-color: #333736;
}

.title {
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #333736;
}

.button {
    -fx-background-radius: 50;
    -fx-background-color: #333736;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 20;

    -fx-padding: 6 15;

    -fx-border-color: #333736;
    -fx-border-width: 2;
    -fx-border-radius: 50;
}

.dialog-pane{
  -fx-background-color: #d8d0d4;;
  -fx-padding: 10px;
  -fx-border-width:2.0px;
 }

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
  -fx-background-color: #d8d0d4;;
}

.dialog-pane > .content.label {
   -fx-padding: 0.5em 0.5em 0.5em 0.5em;
   -fx-text-fill: #f1e2cc;
   -fx-font-size: 15.0px;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
  -fx-background-color: #d8d0d4;
}

.dialog-pane:header .header-panel .label{
  -fx-text-fill: #f1e2cc;
  -fx-text-weight: bold;
  -fx-font-size: 18.0px;
}
